[user]
  name = Jacob Louis Hoover
  email = postylem@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes_global
  editor = vim
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prmpt
[mergetool]
  prompt = false

[color]
  ui = auto
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  st = status
  psuh = push
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
  ff = only
[fetch]
  prune = true
[diff]
  colorMoved = zebra
[init]
  defaultBranch = main
